
<nav class="navbar navbar-expand navbar-dark bg-dark custom-navbar" *ngIf="user">
  <div class="navbar-nav custom-nav">
      <a class="nav-item nav-link cursor-none">Rental Book Application</a>
      <a class="nav-item nav-link cursor-none" *ngIf="isAdmin">You are logged in as Admin</a>
      <a class="nav-item nav-link cursor-none" *ngIf="isRenter">You are logged in as Renter</a>
      <a class="nav-item nav-link logout-button" (click)="logout()">Logout</a>
  </div>
</nav>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)">
</app-sidebar>
<section [ngClass]="{ collapsed: collapedSideBar }" [ngClass]="user ? 'main-container': ''">
  <router-outlet></router-outlet>
</section>
