<div class="container">
  <div style="height: 540px; overflow: auto;" class="scrollbar" id="style-1">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="bookName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="bookAuthor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bookAuthor}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="bookPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Price </th>
      <td mat-cell *matCellDef="let element"> {{element.bookPrice}} </td>
    </ng-container>

    <!-- Publish Date Column -->
    <ng-container matColumnDef="bookPublishOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publish On </th>
      <td mat-cell *matCellDef="let element"> {{element.bookPublishOn | date: 'd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <div class="row" *ngIf="isAdmin">
          <div class="col-3">
            <button mat-button mat-raised-button color="primary" (click)="goToEditPage(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="col-3">
            <button mat-button mat-raised-button color="accent" (click)="openDeleteDialog(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="isRenter">
          <div class="col-3" *ngIf="element.isRented === 0">
            <button mat-button mat-raised-button color="primary" (click)="rentBook(element.id)">
              Rent this book
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- pagination -->
<mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>


